
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Staatliches&display=swap');

*{
    padding:0;
    margin:0;
    font-size:1rem;
    text-decoration: none;
    color:auto;
}

main{
    background-color: #3D3D3D;
}

h1{
    font-size:3rem;
    font-family: 'Staatliches';
    color: white;
    background-color: #000;
    text-align: center;
    display: none;
}

.main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pic{
    max-width: 250px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.main-card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    width: 100%;
}

h2{
    font-size:1.5rem;
    text-decoration: underline;
}

.section-header{
    font-size: 3rem;
    font-family: 'Staatliches';
    color: #fff7ec;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;

}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #000;
    padding-bottom: 1rem;
    padding:1rem;

}

.introduction p{
    font-size: 1.2rem;
    color:#fff7ec;
}

.main-logo{
    max-width: 500px;
    margin: 1rem 2rem;
}

.header-desc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    max-width: 1250px;
}

.comicSection{
    padding-bottom: 1rem;
}

.hlo-section{
    background-color: #dd698c;
}

.if-section{
    background-color: #fffcdd;
}

.hlo-gallery>img{
    box-sizing: border-box;
    border:solid 4px black;
}

.comicMainContent{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.comic-cover{
    width:50%;
    min-width: 250px;
    max-width: 600px;
}

.comic-text{
    display: flex;
    flex-direction: column;
    color:antiquewhite;
    justify-content: center;
    align-content: center;
    width:80%;
    margin-bottom: 2rem;

}

.hlo-text{
    color:#261127;
    text-align: center;
}

.if-text{
    color:#46252f;
}

.comic-text img{
    max-width: 600px;
    margin-bottom: 2.5rem;
    min-width: 250px;
}
#hlo-logo{
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.comic-text p{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comic-gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.comic-gallery img{
    width: 45%;
    margin: 5px 10px
}

.illus-gallery img{
    width: 80%;
    max-width: 750px;
}

.comicInnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read-button{
    display: inline-block;
    border:none;
    background-color: pink;
    padding: 1rem;
    border-radius: 3px;
    margin: 1rem;
        font-size: 1.2rem;

}
.read-button:hover{
    cursor: pointer;
}

.fs-button{
    background-color:#d71f1f;
}
.hlo-button{
    background-color: #a6d379;
}

@media screen and (min-width:768px) {
    .header-desc-container{
        flex-direction: row;
        margin-top: -1rem;
    }

    .main-pic{
        margin-right: 2rem;
    }

    .main-card p{
        max-width: 500px;
    }

    .comicMainContent{
        flex-direction: row;
        
    }

    .comic-text{
            width:40%;
    }

    .comic-gallery img{
        width: 30%;
        margin: 5px 10px
    }
}